<header>
  <a class="site-logo madimi-one-regular" href="/">
    THE GOALS APP
  </a>
  {{#if isLoggedIn}}
    <a href="/goals">My Goals</a>
    <a href="/api/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
