{{> header}}
<main>
  <h1>Welcome to the Goals App!</h1>
  <p>On this site, you can set the goals you want to accomplish. Once you've completed a goal, you can delete it via the button.</p>
  <p>To get started, {{#if isLoggedIn}} click on the "My Goals" link in the menu {{else}} <a href="/login">log in</a>. {{/if}}</p>
  <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>

{{#if isLoggedIn}}
  <h2>Need some motivation?</h2>

  <button class="btn" id="quotebtn">Get a quote!</button>

  <div id="quote"></div>
  {{/if}}

</main>
 
<script>
  const getQuote = document.getElementById('quotebtn')
    getQuote.onclick = function(e) {
    fetch("https://type.fit/api/quotes")
    .then(function(response) {
    return response.json()
  })
    .then(function(data) {
      console.log(data)

      const randomQuote = data[Math.floor(Math.random()*data.length)];
      quote = randomQuote.text + " - " + randomQuote.author.replace(", type.fit", "")
      document.getElementById("quote").innerHTML = quote

  })
  }
  

</script>
