  {{> header}}
  <main>
  <form class="goal-form" 
  {{#if goal}}
      data-goal-id="{{goal._id}}"
  {{/if}}>
    <label for="title">Goal</label>
    <input type="text" name="title" placeholder="What is your goal?" value="{{#if goal}}{{goal.title}}{{/if}}">
    <label for="description">Description of Goal</label>
    <textarea name="description" rows="2" placeholder="Briefly describe your goal." >{{#if goal}}{{goal.description}}{{/if}}</textarea>
   
    <button class="btn" type="submit">Update</button>
  </form> 
  </main>

  <script>

    document.querySelector('form').onsubmit = function(e) {
    e.preventDefault()
    const values = {
      title: e.target.elements.title.value,
      description: e.target.elements.description.value
    }
    const url = '/api/goals' + (e.target.dataset.goalId ? "/" + e.target.dataset.goalId : "")
    fetch(url, {
      method: window.location.pathname.includes('create') ? 'POST' : 'PUT',
      headers: {
        "content-type": "application/json"
      },
      body: JSON.stringify(values)
    })
    .then(res => {
      if (res.status === 200) {
        console.log("updated")
        window.location.replace("/goals")
      }
    })
  }

</script>